* {
    box-sizing: border-box;
    outline: none;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.total-window {
    display: flex;
    height: 100vh;
    width: 100vw;
    /* min-width: 100vh; */
    /* min-height: 100vh; */
    /* overflow: auto; */
}

.left-window {
    display: flex;
    flex-direction: column;
    /* width: 30%; */
    min-width: 25%;
    /* min-height: 100vh; */
    /* height: 100vh; */
    overflow: auto;
    background: #E1E1E1;
}

.me {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    align-items: center;
    min-width: 100%;
    min-height: 20%;
    justify-content: space-evenly;
    background: #0E5F56;
    border-right: 1px solid black;
}

.user-image {
    display: flex;
    min-width: 50%;
    min-height: 80%;
    /* margin: auto; */
    align-items: center;
    justify-content: space-evenly;
}

img {
    display: flex;
    /* margin: auto; */
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 95%;
    /* min-height: 10%; */
}

.user-name {
    display: flex;
    min-height: 20%;
    min-width: 50%;
    word-break: break-all;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    font-size: 100%;
}

.online-list {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 80%;
    overflow: auto;
    border-right: 1px solid black;
}

.online-list::-webkit-scrollbar {
    display: none;
}

.user {
    display: flex;
    min-width: 100%;
    min-height: 16%;
    align-items: center;
    justify-content: space-evenly;
    padding: 1%;
    overflow: auto;
    /* border-bottom: 1px solid black; */
}

div#em3l2kMJpBRvquKUAAAX {}

div#em3l2kMJpBRvquKUAAAX {}

.right-window {
    display: flex;
    /* margin: auto; */
    align-items: center;
    /* justify-content: space-evenly; */
    flex-direction: column;
    /* width: 53%; */
    min-width: 75%;
    background: black;
}

.chat-window {
    display: flex;
    padding-top: 1%;
    flex-direction: column;
    align-items: unset;
    justify-content: flex-start;
    min-height: 90%;
    min-width: 100%;
    
    background-color: #F8F9FB;
    background-image: url(./whatsAppBackground2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
    overflow: auto;
}

.joined {
    display: flex;
    margin: 5px;
    margin-left: 10%;
    margin-right: 10%;
    /* margin-bottom: 1%; */
    align-items: center;
    justify-content: space-evenly;
    min-height: 40px;
    min-width: 80%;
    background: #ff7675;
    border-radius: 20px;
}

/* participent left the chat */
.leave {
    display: flex;
    margin: 5px;
    margin-left: 10%;
    margin-right: 10%;
    /* margin-bottom: 5px; */
    align-items: center;
    justify-content: space-evenly;
    min-height: 40px;
    min-width: 80%;
    background: #ffeaa7;
    border-radius: 20px;
}

.left-chat {
    display: flex;
    /* margin: 5px; */
    margin-left: 1%;
    margin-bottom: 0.2%;
    /* padding: 5px; */
    padding: 1%;
    /* justify-content: center; */
    align-items: flex-start;
    background: #E1E1E1;
    border-radius: 5px;
    min-height: 40px;
    /* float: left; */
    /* clear: both; */
    width: 70%;
    word-break: break-all;
}

.right-chat {
    display: flex;
    /* margin-top: 10px; */
    margin-left: 29%;
    margin-bottom: 0.2%;
    /* margin-right: 1px; */
    /* margin-right: 6px; */
    padding: 1%;
    align-items: flex-start;
    /* justify-content: center; */
    background: rgb(0, 230, 118, 0.9);
    border-radius: 5px;
    min-height: 40px;
    /* float: left; */
    /* clear: both; */
    width: 70%;
    word-break: break-all;
}

.rightChatBackground{
    
}

.input-msg-window {
    display: flex;
    background: #0E5F56;
    min-width: 100%;
    min-height: 10%;
    /* margin: 0%; */
    /* margin: auto; */
    align-items: center;
    justify-content: space-evenly;
}

.msg-box {
    display: flex;
    border-radius: 5px;
    min-width: 80%;
    min-height: 45%;
    background: #dfe6e9;
    padding: 2px;
    font-size: 1.5rem;
}
